@font-face {
  font-family: 'Metropolis Black';
   src: url("./fonts/Metropolis-Black.otf");
 }

 @font-face {
  font-family: 'Metropolis Italic';
   src: url("./fonts/Metropolis-BlackItalic.otf");
 }

#head {
  margin-left: 2em;
  margin-right: 2em;
  color: white;
}



#content{
    overflow-y: scroll; 
    width: 100%;
    height: 100%;
    border: medium solid black;
}


.header-image {
  opacity: 0.9;
}